* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #353535;
}

.icons {
    display: flex;
    flex-wrap: wrap;
    padding: 0% 5%;
}

.icons .icon {
    cursor: pointer;
    position: relative;
    width: 70px;
    height: 70px;
    margin: 40px;
    transition: .3s ease-out;
}

.icons .icon:hover {
    scale: 1.15;
}

.icons .icon .bg {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 100%;
    height: 100%;
    border-radius: 18px;
    transform: rotate(14deg);
    transition: .3s ease-out;
}

.icons .icon:hover .bg {
    transform: rotate(24deg);
}

.icons .icon:nth-child(1) .bg {
    background: #ff4502;
}

.icons .icon:nth-child(2) .bg {
    background: #05c45b;
}

.icons .icon:nth-child(3) .bg {
    background: #d6e738;
}

.icons .icon:nth-child(4) .bg {
    background: black;
}


.icons .icon .glass {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    backdrop-filter: blur(15px);
    background: rgba(255, 255, 255, .2);
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 18px;
}

.icons .icon i {
    font-size: 36px;
    background: linear-gradient(
        45deg,
        rgba(255, 255, 255, 3),
        rgba(255, 255, 255, 0.938)
    );
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
}

a.incubus {
    text-decoration:none;
    color:rgb(30, 165, 109);   
    
 }


 p.privacy{color:  #353535;}
 h1.explanation{color: white;}

 h2.album{
    color: white;
    padding-bottom: 30px;
 }